

.header{
    display: block;
}
.navbar{
   display:flex;
   padding-top: 20px;
   margin: 30px;
   gap: 5%;
   
}#baims{
    color:black;
    font-size: xx-large;
}#search{
margin: top;
padding:10px;
border-radius: 40px;
justify-content: space-around;
    

}.sign{
    background-color:darkblue;
    border-radius: 40px;
    padding:10px;
    justify-content: space-around;
    color: aliceblue;
    
} #button{
 border-radius: 20px;
 justify-content: space-around;
 background-color: blue;
 color:aliceblue;
 margin-top: 20px;
 margin-bottom: 20px;
 padding: 25px;
}.image{
    padding-top: 20px;
    margin-top: auto;

}#img{
    border-radius: 4px;
    width: 600px;
}
    
.numbers{
    display:flex;
    border:solid 1px;
    border-color: black;
    background-color: aliceblue;
    padding-top: 24px;
    padding:20px;
    gap:10%;
    text-align: center;
}#subjects{
    display:block;
}.hero{
    display: flex;
    gap:80px;
    margin-bottom: 20px;
    
}#inputfield{
  border-radius: 12px;
  background-color: palevioletred;

}#input{
    border-radius: 12px;
    padding: 20px;
    margin-bottom: 20px;
}

.container{
    background-color: palevioletred;
    gap:50px;
    
}
.fontawesome i{
    position: absolute;
    font-size: x-small;
    
}
.fontawesome{
    background-color: palevioletred;
    padding: 20px;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
    
}.solid i{
    position:absolute;
    float: right;

} 
.solid{
    padding-top: 20px;
}
@media only screen and (max-width:768px){


    .header{
        display: block;
        flex-wrap:wrap ;
    }
    .navbar{
       display:flex;
       padding-top: 10px;
       margin: 10px;
       gap: 5%;
       flex-wrap: wrap;
       
    }#baims{
        color:black;
        font-size: xx-large;
    }#search{
    margin: top;
    padding:10px;
    border-radius: 40px;
    justify-content: space-around;
        
    
    }.sign{
        background-color:darkblue;
        border-radius: 40px;
        padding:10px;
        justify-content: space-around;
        color: aliceblue;
        
    } #button{
     border-radius: 20px;
     justify-content: space-around;
     background-color: blue;
     color:aliceblue;
     margin-top: 20px;
     margin-bottom: 20px;
     padding: 25px;
    }.image{
        padding-top: 20px;
        margin-top: auto;
    
    }#img{
        border-radius: 4px;
        width: 100px;
        align-items: center;
    }
        
    .numbers{
        display:flex;
        border:solid 1px;
        border-color: black;
        background-color: aliceblue;
        padding-top: 24px;
        padding:20px;
        gap:10%;
        text-align: center;
    }#subjects{
        display:block;
    }.hero{
        display: flex;
        gap:80px;
        margin-bottom: 20px;
        
    }#inputfield{
      border-radius: 12px;
      background-color: palevioletred;
    
    }#input{
        border-radius: 12px;
        padding: 20px;
        margin-bottom: 20px;
    }
    
    .container{
        background-color: palevioletred;
        gap:50px;
        









}
}
 












